[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
holidays = "*"
flask-admin = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-slack = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
deploy = "echo 'Please follow this 3 steps to deploy: https://start.4geeksacademy.com/deploy/render' "
